1)Here given the bating statistics of indian grate cricketer Anil Kumble.Perform the following opreation

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
data={
    "matchs":[1,2,3,4,5],
    "year":[1996,1997,1998,1999,2000],
    "runs":[10,23,15,40,12],
    "balls":[20,30,25,20,11],
    "opponent":["AUS","ENG","PAK","SA","ENG"]
}
df=pd.DataFrame(data)
print(df)

   matchs  year  runs  balls opponent
0       1  1996    10     20      AUS
1       2  1997    23     30      ENG
2       3  1998    15     25      PAK
3       4  1999    40     20       SA
4       5  2000    12     11      ENG

A) Aggregation

In [5]:
#1)
t_runs=(df['runs'].sum())
print("total runs is :",t_runs)

total runs is : 100

In [6]:
#2)
me_runs=(df['runs'].mean())
print("runs means is :",me_runs)

runs means is : 20.0

In [7]:
# 3)
max=(df['runs'].max())
print("maximum runs is :",max)

maximum runs is : 40

In [8]:
# 4)
min=(df['runs'].min())
print("minimum runs is :",min)

minimum runs is : 10

B) Grouping

In [1]:
gr=df.groupby("opponent')['runs'].sum()
gr

SyntaxError: unterminated string literal (detected at line 1) (4180302685.py, line 1)

C) Time Series

In [11]:
rd=pd.date_range(start='01/01/1997',end='01/02/2000',freq='m')
print(rd)

DatetimeIndex(['1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30',
               '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31',
               '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31',
               '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30',
               '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='ME')

C:\Users\aishwarya m\AppData\Local\Temp\ipykernel_9476\292535933.py:1: FutureWarning: 'm' is deprecated and will be removed in a future version, please use 'ME' instead.
  rd=pd.date_range(start='01/01/1997',end='01/02/2000',freq='m')

D) Filter

In [12]:
def fil(a):
    if a> 15:
        return True
l1=(df['runs'])
res=list(filter(fil,l1))
print(res)

[23, 40]

E) Vectorized

# map function

In [14]:
def ker(a):
    return a*2
l1=(df['runs'])
res=list(map(ker,l1))
print(res)

[20, 46, 30, 80, 24]

3) Create a Two series as shown using pd.series()function.
Series_A=[20,30,40,50,60]
Series_B=[50,60,70,80,90]

In [16]:
data={
    "series_A":[20,30,40,50,60],
    "Series_B":[50,60,70,80,90]
}
df=pd.DataFrame(data)
print(df)

   series_A  Series_B
0        20        50
1        30        60
2        40        70
3        50        80
4        60        90

A) Get the items not comman to both.

In [17]:
df.isnull().sum()

series_A    0
Series_B    0
dtype: int64

B) Identify the smallest and largrst element in the Series A.

##  smallest element of series A

In [19]:
sml=(df['series_A'].min())
print(sml)

20

In [20]:
# largest elelemnt of series A

In [21]:
lar=(df['series_A'].max())
print(lar)

60

C) Find the sum of series B

In [22]:
sum=(df['Series_B'].sum())
print("sum of series B is:",sum)

sum of series B is: 350

E) calculate mean in the series A.

In [23]:
men=(df['series_A'].mean())
print("mean of series A is :",men)

mean of series A is : 40.0

F) Find the median in the given series A.

In [26]:
med=(df['Series_B'].median())
print("median of Series A is :",med)

median of Series A is : 70.0

In [ ]:
4) perform the foll

In [4]:
df.loc[len(df.index)]=[6,2002,12,32,AS]
df.loc[len(df.index)]=[8,2306,34,12,MP]
df

NameError: name 'AS' is not defined