1 Create DataFrame

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
Data={
    "RollNO":[101,102,103,104,105],
    "Name":["riya","Arjun","Shena","Rakesh","Aditi"],
    "Age":[17,18,17,19,18,],
    "Marks_Math":[88,75,90,65,95],
    "Marks_eng":[92,85,78,70,88],
    "Gender":["f","m","f","m","f"]
}
df=pd.DataFrame(Data)
print(df)

   RollNO    Name  Age  Marks_Math  Marks_eng Gender
0     101    riya   17          88         92      f
1     102   Arjun   18          75         85      m
2     103   Shena   17          90         78      f
3     104  Rakesh   19          65         70      m
4     105   Aditi   18          95         88      f

2 Display only the names and English marks of all student

In [4]:
df["Name"],df["Marks_eng"]

(0      riya
 1     Arjun
 2     Shena
 3    Rakesh
 4     Aditi
 Name: Name, dtype: object,
 0    92
 1    85
 2    78
 3    70
 4    88
 Name: Marks_eng, dtype: int64)

3. Add a new column "Total marks" as the sum of Marks_Math and Marks_eng

In [5]:
df["total_Marks"]=df['Marks_Math']+df['Marks_eng']
print(df)
df["total_Marks"]=df[['Marks_Math','Marks_eng']].sum(axis=1)
df

   RollNO    Name  Age  Marks_Math  Marks_eng Gender  total_Marks
0     101    riya   17          88         92      f          180
1     102   Arjun   18          75         85      m          160
2     103   Shena   17          90         78      f          168
3     104  Rakesh   19          65         70      m          135
4     105   Aditi   18          95         88      f          183

4. Find the average marks in math using a pandas function

In [7]:
df['Marks_Math'].mean()

82.6

5. Display the records of all female students,

In [9]:
d=(df[df['Gender'] == 'f'])
print(d)

   RollNO   Name  Age  Marks_Math  Marks_eng Gender  total_Marks
0     101   riya   17          88         92      f          180
2     103  Shena   17          90         78      f          168
4     105  Aditi   18          95         88      f          183

6.Sort the DataFrame by Marks_english in desending order.

In [12]:
sd=df["Marks_Math"].sort_values(ascending=False)
print(sd)

4    95
2    90
0    88
1    75
3    65
Name: Marks_Math, dtype: int64

7. Replace the Gender values:"F" "Femele","M" "Male" using map().

In [13]:
Gen=df["Gender"] map({"f":"Femele","m":"Male"})
Gen

SyntaxError: invalid syntax (666497633.py, line 1)