In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

data={
    "ID":[1,2,3,4,5,6,7,8],
    "Name":["riya","Arjun","Shena","Rakesh","Aditi","Kiran","Anjali","manish"],
    "Gender":["f","m","f","m","f","m","f","m"],
    "Age":[17,18,17,19,18,18,17,19],
    "Study_Hours":[3.5,2.0,4.0,1.5,3.8,2.5,4.2,1.0],
    "Attendance(%)":[95,82,98,70,92,85,99,65],
    "Marks_Math":[88,75,90,65,95,78,91,60],
    "Marks_Science":[92,80,89,68,93,75,95,58],
    "Grade":["A","B","A","C","A","B","A","D"]
}
df=pd.DataFrame(data)
print(df)

   ID    Name Gender  Age  Study_Hours  Attendance(%)  Marks_Math  \
0   1    riya      f   17          3.5             95          88
1   2   Arjun      m   18          2.0             82          75
2   3   Shena      f   17          4.0             98          90
3   4  Rakesh      m   19          1.5             70          65
4   5   Aditi      f   18          3.8             92          95
5   6   Kiran      m   18          2.5             85          78
6   7  Anjali      f   17          4.2             99          91
7   8  manish      m   19          1.0             65          60

   Marks_Science Grade
0             92     A
1             80     B
2             89     A
3             68     C
4             93     A
5             75     B
6             95     A
7             58     D

In [3]:
df.isnull().sum()

ID               0
Name             0
Gender           0
Age              0
Study_Hours      0
Attendance(%)    0
Marks_Math       0
Marks_Science    0
Grade            0
dtype: int64

In [4]:
df.describe()

,ID,Age,Study_Hours,Attendance(%),Marks_Math,Marks_Science
count,8.00000,8.000000,8.000000,8.000000,8.000000,8.000000
mean,4.50000,17.875000,2.812500,85.750000,80.250000,81.250000
std,2.44949,0.834523,1.227585,12.781124,12.892412,13.413746
min,1.00000,17.000000,1.000000,65.000000,60.000000,58.000000
25%,2.75000,17.000000,1.875000,79.000000,72.500000,73.250000
50%,4.50000,18.000000,3.000000,88.500000,83.000000,84.500000
75%,6.25000,18.250000,3.850000,95.750000,90.250000,92.250000
max,8.00000,19.000000,4.200000,99.000000,95.000000,95.000000

In [6]:
d=df["Age"].mean()
d

17.875